body {
  background-color: rebeccapurple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
    padding-top: 130px;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    color: #06df02;
  }
  
  button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #f8b809;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: #2efb00;
  }
  
  .choices button {
    display: block;
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .scores {
    position: absolute;
    top: 10px;
    left: 15px;
  }
  
  .feedback {
    font-style: normal;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color:  #f8b809;
    border-top: 2px solid rgb(231, 179, 8);
  }
  
  .timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  